
body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.8);
}
header{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid lightgrey;
}
h1{
	font-family: sans-serif;
	font-size: 22px;
}
.main{
	width: 100%;
	max-width: 800px;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	/*background-color: green;*/
	margin-left: auto;
	margin-right: auto;
	/*min-height: 100vh;*/
}
.bulb{
	width: 100%;
	height: 500px;
	border-bottom: 1px dashed lightgrey;
	/*height: auto;*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.on img{
	width: 180px;
}
.off img{
	width: 100px;
}
.on{
	display: none;
}


/**************************
* Styles for control.html *
***************************/

.control{
	width: 100%;
	height: 500px;
	border-bottom: 1px dashed lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
}
.control-link{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
}
.control-link a{
	text-decoration: none;	
}

.button-on, .button-off{
	width: 100px;
	height: 50px;
	background-color: white;
	border: 1px solid lightgrey;
}
.button-off:disabled, .button-on:disabled{
	background-color: lightgrey;
}